/*General*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body {
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}




/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;

}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    padding-top: 0;
    background-color: #1A2C38;
    /* nav height % */
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #00D6D3;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #00D6D3;
}

.logo {
    font-size: 2rem;
    color: white;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
    /* so its not seen in normal screen */
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* hero section   */
#landing-page {
    background-color: #162630;
    display: flex;
    padding-top: 6vh;
    height: 75vh;
    box-sizing: border-box;
    min-height: fit-content;
    min-width: fit-content;
}

.summary {
    width: auto;
    margin: 0 14rem;
}

.summary h3 {
    font-weight: 600;
    font-size: 2.98rem;
    color: white;
}

/* spam loop for words along with colors */

.loop::before {
    content: "resonate.";
    animation: animate infinite 3s;
    padding-left: 10px;
    background: linear-gradient(to right, #FF1FDA, #00D6D3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes animate {

    0% {
        content: "resonate.";
        background: linear-gradient(to right, #FF1FDA, #00D6D3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    50% {
        content: "inspire.";
        background: linear-gradient(to right, #FF1FDA, #00D6D3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    75% {
        content: "connect.";
        background: linear-gradient(to right, #FF1FDA, #00D6D3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


/* buttons section   */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 50%;
}

/* buttons style for both    */
.btn-Work,
.btn-resume {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-top: 10%;
    cursor: pointer;
}

/* buttons project    */

.btn-Work {
    background: #00D6D3;
    color: white;
    border: #00D6D3 0.1rem solid;
}


.btn-Work:hover {
    background: #19dedb;
    border: rgb(255, 255, 255) 0.1rem solid;
}

/* buttons resume    */
.btn-resume {
    position: relative;
    border-radius: 0.5rem;
    background: #162630;
    border: #FF1FDA 0.1rem solid;
    color: white;

}



.btn-resume:hover {
    background: #23343f;
}




/* profile pic illustration    */
.Profilepic {
    display: flex;
    height: 390px;
    width: 390px;
}


/*icons */

.Arrow-section {
    background-color: #162630;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 50px;
    color: #00D6D3;

}



/*How do i work */



#Design-process {
    background-color: #1A2C38;
}

.subheading {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
    color: white;
}

.mainheading {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: white;
    justify-content: center;
}

/*Image slider */



.design {
    overflow: hidden;
    padding: 60px 0px;
    white-space: nowrap;
    position: relative;
    background-color: #1A2C38;
}

.design:before,
.design:after {
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
    width: 340px;
    height: 251px;
    margin-top: 4%;
}


.design:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #1A2C38);
}

.design:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #1A2C38);
}


.design-slider {
    display: inline-flex;
    animation: 35s slide infinite linear;
}


.card-1 {
    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-1::before {
    background-image: url("../images/card1.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}

.card-2 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-2::before {
    background-image: url("../images/card-3.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}

.card-3 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-3::before {
    background-image: url("../images/card3.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}


.card-4 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-4::before {
    background-image: url("../images/card-4.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}


.card-5 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-5::before {
    background-image: url("../images/card5.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}


.card-6 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-6::before {
    background-image: url("../images/card6.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}


.card-7 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-7::before {
    background-image: url("../images/card7.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}


.card-8 {

    margin: 0 40px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 #D53ED9, 0 6px 20px 0 #00D6D3;
    border-radius: 5px;
    color: white;
    width: 310px;
    height: 235px;
    border: 0px;
    background-image: conic-gradient(from 90deg,
            /* Assuming --gradient-angle was 90deg */
            #D53ED9,
            /* --clr-3 */
            #2BB8D4,
            /* --clr-4 */
            #807BD7,
            /* --clr-5 */
            #2BB8D4,
            /* --clr-4 */
            #D53ED9
            /* --clr-3 */
        );

}

.card-8::before {
    background-image: url("../images/card8.png");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 5%;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}



.slide-text {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: 60%;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Case study section */

#projects {
    background-color: #1A2C38;
}

.casestudy-section {
    display: flex;
}

/* Case study big box */
.casestudy-display1 {
    margin-top: 8%;
    margin-left: 220px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 599px;
    width: 800px;
    padding: 20px;
    background-color: #2D4454;
    border-radius: 0.5rem;

}

/* Case study small box */
.case-study1 {
    text-align: center;
    width: 250px;
    height: 250px;
    margin-left: 3%;
    margin-top: 8%;
}

.casestudy-display2 {
    margin-top: 8%;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 599px;
    width: 800px;
    padding: 20px;
    background-color: #2D4454;
    border-radius: 0.5rem;
}

.case-study2 {

    text-align: center;
    width: 250px;
    height: 250px;
    margin-top: 8%;
    margin-left: 200px;
}

/* Case study Name */
.title {
    font-weight: 500;
    font-size: 1.7rem;
    text-align: start;
    color: white;
}

/* Case study details */
.sub-title {
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
    color: #00D6D3;
}

/* Case study button */
.view-project {
    border-radius: 0.5rem;
    background: #1A2C38;
    border: #FF1FDA 0.1rem solid;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem;
    width: 8rem;
    margin-top: 10%;
    cursor: pointer;
    margin-right: 50%;
}


/* Contact Us */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #162630;
    padding-top: 6vh;
}

/* other color line*/
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin: 4rem auto;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #FF1FDA, #00D6D3);
}

.contact-info-upper-container::before {
    content: "";
    position: absolute;
    left: 0.1rem;
    right: 0.1rem;
    top: 0.1rem;
    bottom: 0.1rem;
    border-radius: 2rem;
    background-color: #162630;
    z-index: -1;
    transition: 200ms
}

.contact-info-upper-container::after {
    content: attr(data);
    background: linear-gradient(to left, #FF1FDA, #00D6D3);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
}

/* inside  */
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    height: 2.5rem;
}

.email-icon {
    height: 2.5rem;
}

#footer {
    background-color: #162630;
}